---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <PageHeader title="About" />
  <p>This is the about page</p>
</BaseLayout>
