---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <PageHeader title="About" />
  In a world where boundaries between disciplines blur and creativity knows no limits,
  I thrive. As an interdisciplinary designer, I have embark on a journey where design
  research, UI/UX design, illustration, photography, creative coding, and design
  critique converge to solve intricate challenges and shape innovative solutions.
  <br />
  <br />
  Every day, I immerse myself in the dynamic interplay of art, technology, and human
  experience. With each project, I orchestrate a symphony that harmonise nature's
  elegance, cutting-edge technology, and the boundless imagination of the human mind.
  From conceptualisation to execution, I am driven by a passion to create meaningful
  experiences and evoke emotions that resonate deeply with audiences.
  <br />
  <br />
  Together, let's craft a future where creativity knows no bounds, and where art,
  technology, and humanity intertwine to create a better world.
  <br />
  <br />
  For any information or just a quick Hi: Email inquiries to:
  <a href="mailto:3shuvam1@gmail.com">3shuvam1@gmail.com</a>
  Call: <a href="tel:+919076038009">+91-9076038009</a>
</BaseLayout>
