---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const projectEntries = await getCollection("projects");
---

<BaseLayout title="Shuvam Bharti">
  <h1>Shuvam Bharti</h1>
  <h2>Projects</h2>
  <ul>
    {
      projectEntries.map((projectEntry) => (
        <li>
          <a href={`/projects/${projectEntry.slug}`}>
            {projectEntry.data.title}
          </a>
          <time datetime={projectEntry.data.date.toISOString()}>
            {projectEntry.data.date.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</BaseLayout>
