---
import PageHeader from "../components/PageHeader.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const projectEntries = await getCollection("projects");
const journalEntries = await getCollection("journals");
---

<BaseLayout title="Shuvam Bharti">
  <PageHeader
    title="Simple. Creative. Aesthetics."
    description="Hi there, I'm a designer, humanitarian and technology enthusiast. I like to reimagine, collaborate and have fun."
  />
  <h2 style="display: none">Projects</h2>
  <ul class="projects">
    {
      projectEntries
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((projectEntry, index) => <ProjectCard {projectEntry} {index} />)
    }
  </ul>
  <h2>Journal</h2>
  <ul>
    {
      journalEntries.map((journalEntry) => (
        <li>
          <a href={`/journals/${journalEntry.slug}`}>
            {journalEntry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .projects {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
</style>
