---
const { title, description } = Astro.props;
const url = Astro.url.pathname;
---

<header>
    <h1>
        {title}
    </h1>
    {description && <p>{description}</p>}
    {
        ["/", "/ux"].includes(url) && (
            <ul id="projects-filter">
                <li>
                    <a href="/" class={url === "/" ? "active" : ""}>
                        Other
                    </a>
                </li>
                <li>
                    <a href="/ux" class={url === "/ux" ? "active" : ""}>
                        UX
                    </a>
                </li>
            </ul>
        )
    }
</header>

<style>
    header {
        max-width: 1024px;
        margin-inline: auto;
        height: 40vh;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    h1 {
        max-width: 15ch;
        text-align: center;
    }

    p {
        max-width: 50ch;
        text-align: center;
        font-size: 1.2rem;
        opacity: 0.8;
    }

    #projects-filter {
        width: 100%;
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;

        list-style: none;

        & a {
            text-decoration: none;
            color: inherit;

            &.active {
                font-weight: bold;
                color: red;
            }
        }
    }
</style>
