---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Photography">
  <PageHeader title="Photography" />
  <p>Photo gallery goes here</p>
</BaseLayout>
