---
import Button from "../components/Button.astro";
import JournalCard from "../components/JournalCard.astro";
import PageHeader from "../components/PageHeader.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const uxProjectEntries = await getCollection("uxProjects");
const journalEntries = await getCollection("journals");
---

<BaseLayout title="Shuvam Bharti">
    <PageHeader
        title="Simple. Creative. Aesthetics."
        description="Hi there, I'm a designer, humanitarian and technology enthusiast. I like to reimagine, collaborate and have fun."
    />
    <section id="projects">
        <h2>Projects</h2>
        <ul>
            {
                uxProjectEntries
                    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
                    .map((projectEntry, index) => <ProjectCard {projectEntry} {index} />)
            }
        </ul>
    </section>
    <section id="journal">
        <h2>Journal</h2>
        <ul>
            {journalEntries.slice(0, 3).map((journalEntry) => <JournalCard {journalEntry} />)}
        </ul>
        <a href="/journals" class="all-journals-link">View all →</a>
    </section>
</BaseLayout>

<style>
    #projects {
        > h2 {
            display: none;
        }

        > ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 2rem;
            }
        }
    }

    #journal {
        margin-top: 8rem;
        > ul {
            list-style: none;
            padding: 0;
        }
    }

    .all-journals-link {
        width: fit-content;
        display: block;
        margin-top: 2rem;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
</style>
