<footer>
  <p>Shuvam Bharti @ 2024</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: #dcdcdc;
    margin-top: 20vh;
  }
</style>
