---
const { title, image } = Astro.props;
---

<header>
  {image && false && <img src={image} alt={title} />}
  <h1>{title}</h1>
</header>

<style>
  header {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 100%;
    object-fit: fill;
    aspect-ratio: 4/3;
  }
</style>
