---
const { journalEntry } = Astro.props;
---

<li>
    <a href=`/journals/${journalEntry.slug}`>
        <h2>{journalEntry.data.title}</h2>
        <p>{journalEntry.data.excerpt}</p>
    </a>
</li>

<style>
    li {
        border-bottom: 1px solid color-mix(in srgb, currentColor 15%, transparent);
        /* border-radius: 1rem; */

        padding: 2rem 0rem;
    }
    a {
        text-decoration: none;
        color: inherit;

        text-wrap: balance;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2 {
            font-family: var(--serif);
            font-size: 1.5rem;
            font-weight: 400;
        }

        p {
            opacity: 60%;
        }
    }
</style>
