---
const { journalEntry } = Astro.props;
---

<li>
  <a href=`/journals/${journalEntry.slug}`>
    <h2>{journalEntry.data.title}</h2>
    <p>{journalEntry.data.excerpt}</p>
  </a>
</li>

<style>
  a {
    text-decoration: none;
    color: inherit;

    h2 {
      font-family: var(--serif);
      font-size: 2rem;
      font-weight: 400;
    }
  }
</style>
