<nav>
  <a href="/">Shuvam Bharti</a>
  <ul class="links">
    <li><a href="/journals">Journal</a></li>
    <li><a href="/photography">Photography</a></li>
    <li><a href="/illustration">Illustration</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
