<!-- <script>
  var y;
  var prevPos;

  let nav;

  function handleScroll() {
    if (!prevPos || prevPos > y) {
      nav.style.top = "0";
    } else {
      nav.style.top = "-80px";
    }

    prevPos = y;
  }
</script>

<svelte:window bind:scrollY={y} on:scroll={handleScroll} /> -->
<nav>
  <div class="width-restrict">
    <a href="/">Shuvam</a>
    <ul class="links">
      <li><a href="/journals">Journal</a></li>
      <li><a href="/photography">Photography</a></li>
      <li><a href="/illustrations">Illustrations</a></li>
      <li>
        <a href="/about">
          <span class="material-symbols-outlined"> person </span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    background-color: var(--surface-color);
    z-index: 100;
    transition: all 0.2s ease-out;

    & .width-restrict {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .material-symbols-outlined {
    padding-top: 0.25rem;
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
  }
</style>
