<nav>
  <a href="/">Shuvam</a>
  <ul class="links">
    <li><a href="/photography">Photography</a></li>
    <li><a href="/illustrations">Illustrations</a></li>
    <li><a href="/journals">Journal</a></li>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    z-index: 100;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
