---
const { title, description } = Astro.props;
---

<header>
  <h1>
    {title}
  </h1>
  {description && <p>{description}</p>}
</header>

<style>
  header {
    max-width: 1024px;
    margin-inline: auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  h1 {
    max-width: 15ch;
    text-align: center;
  }

  p {
    max-width: 50ch;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.8;
  }
</style>
