---
const { title, description } = Astro.props;
const url = Astro.url.pathname;

console.log(url);
---

<header>
    <h1>
        {title}
    </h1>
    {description && <p>{description}</p>}
    {
        ["/", "/ux", "/creative"].includes(url) && (
            <ul id="projects-filter">
                <li>
                    <a href="/" class={url === "/" ? "active" : ""}>
                        All
                    </a>
                </li>
                <li>
                    <a
                        href="/creative"
                        class={url === "/creative" ? "active" : ""}
                    >
                        Creative
                    </a>
                </li>
                <li>
                    <a href="/ux" class={url === "/ux" ? "active" : ""}>
                        UX
                    </a>
                </li>
            </ul>
        )
    }
</header>

<style>
    header {
        max-width: 1024px;
        margin-inline: auto;
        height: 40vh;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    h1 {
        max-width: 15ch;
        text-align: center;
    }

    p {
        max-width: 50ch;
        text-align: center;
        font-size: 1.2rem;
        opacity: 0.8;
    }

    #projects-filter {
        height: fit-content;
        width: fit-content;
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        padding: 1rem 0.5rem;

        background-color: color-mix(
            in srgb,
            var(--text-color) 15%,
            transparent
        );
        border-radius: 10rem;

        list-style: none;

        & a {
            text-decoration: none;
            color: inherit;
            padding: 0.5rem 1rem;
            opacity: 0.8;

            line-height: 1;
            border-radius: 10rem;

            &.active {
                opacity: 1;
                font-weight: bold;
                background-color: var(--surface-color);
            }
        }
    }
</style>
